body{
    text-align: center;
}

.button {
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 0 auto;
}

#gray {
    background-color: gray;
}

#white {
    background-color: white;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#purple {
    background-color: purple;
}